<section class="gallery-block cards-gallery">
  <div class="container">
    <div class="heading">
      <h2>Karnali Home Gallery</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">
          <a class="lightbox" href="../../assets/images/kitchen.JPG">
            <img
              src="../../assets/images/kitchen.JPG"
              alt="Card Image"
              class="card-img-top"
            />
          </a>
          <div class="card-body">
            <h6><a href="#">Hygienic Kitchen</a></h6>
            <p class="text-muted card-text">
              Hygiene is two thirds of health. So Eat Healthy, Stay Healthy.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">
          <a class="lightbox" href="../../assets/images/hukka-2.JPG">
            <img
              src="../../assets/images/hukka-2.JPG"
              alt="Card Image"
              class="card-img-top"
            />
          </a>
          <div class="card-body">
            <h6><a href="#">Hookah Lounge</a></h6>
            <p class="text-muted card-text">
              Smoking a hookah is nothing like smoking a cigarette...
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">
          <a class="lightbox" href="../../assets/images/table-2.JPG">
            <img
              src="../../assets/images/table-2.JPG"
              alt="Card Image"
              class="card-img-top"
            />
          </a>
          <div class="card-body">
            <h6><a href="#">Dining Area</a></h6>
            <p class="text-muted card-text">
              Spacious place to enjoy your food with best food service.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">
          <a class="lightbox" href="../../assets/images/dinning-room-1.JPG">
            <img
              src="../../assets/images/dinning-room-1.JPG"
              alt="Card Image"
              class="card-img-top"
            />
          </a>
          <div class="card-body">
            <h6><a href="#">Restaurant Area</a></h6>
            <p class="text-muted card-text">
              Nothing brings people together like good food...
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">
          <a class="lightbox" href="../../assets/images/utensil-2.JPG">
            <img
              src="../../assets/images/utensil-2.JPG"
              alt="Card Image"
              class="card-img-top"
            />
          </a>
          <div class="card-body">
            <h6><a href="#">Nepali Copper Utensils</a></h6>
            <p class="text-muted card-text">
              Try the food in the traditional nepali copper utensils.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">
          <a class="lightbox" href="../../assets/images/drink-3.JPG">
            <img
              src="../../assets/images/drink-3.JPG"
              alt="Card Image"
              class="card-img-top"
            />
          </a>
          <div class="card-body">
            <h6><a href="#">Brew Your Coffee</a></h6>
            <p class="text-muted card-text">
              Today's good mood is sponsored by Coffee.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
