<div class="title">
    <h1> Karnali Home</h1>
    <h3>Restaurant and Bar</h3>
    <br>
    <p>अतिथि देवो भव: </p>
</div>
    <div class="flag">
        <img src="../../../assets/images/flag.gif" alt="flag" height="35px" width="35px">
    </div>
<div class="check">
    <div>
            <label for="checkin"> Check In: </label>
            <input type="date">
    </div>
    <div>
            <label for="checkout"> Check Out: </label>
            <input type="date">
    </div>
    <div>
            <label for="room"> Number of Room: </label>
            <input type="number">
            <button>Search</button>
    </div>
</div>