<div class="main-content">
    <div class="hotel-info">
        <div class="title">
            <h1> Karnali Home</h1>
            <h3>Restaurant and Bar</h3>
            <br>
            <h4>अतिथि देवो भव: </h4>
            <img class="flag" src="../../../assets/images/flag.gif" alt="flag" height="35px" width="35px">
        </div>
    </div>
    <div class="room-search">
        <form action="">
            <div class="row">
                <div class="col-lg-4 col-m-12 checkIn"> 
                    <div class="input-group input-daterange">
                        <input type="text" id="start" class="form-control text-left mr-2">
                        <label class="ml-3 form-control-placeholder" id="start-p" for="start">Start Date</label>
                        <span class="fa fa-calendar" id="fa-1"></span> 
                        <input type="text" id="end" class="form-control text-left ml-2"> 
                        <label class="ml-3 form-control-placeholder" id="end-p" for="end">End Date</label> 
                        <span class="fa fa-calendar" id="fa-2"></span> </div>

                </div>
                <div class="col-lg-4 col-m-12 checkOut">
                    <label class="sr-only" for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                </div>
                <div class="col-lg-4 col-m-12 searchRoom">
                    <label class="sr-only" for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                </div>
            </div>
        </form>
    </div>
</div>

<!--     
<div class="check">
    <div>
            <label for="checkin"> Check In: </label>
            <input type="date">
    </div>
    <div>
            <label for="checkout"> Check Out: </label>
            <input type="date">
    </div>
    <div>
            <label for="room"> Number of Room: </label>
            <input type="number">
            <button>Search</button>
    </div>
</div> -->