* {
  margin: 0%;
  padding: 0%;
}

.main-header {
  height: 180px;
}

.hotelName {
  padding: 0 50px;
  font-size: 20px;
  color: #fff;
  font-family: Arial;
  text-align: center;
}
.logo {
  vertical-align: initial;
}

.navbar {
  padding: 18px 0;
  width: 100%;
  background-color: green;
}

.navbar-nav a {
  padding: 0 50px;
  font-size: 20px;
  color: #fff;
  font-family: Arial;
  text-align: center;
}

.navbar-brand {
  font-size: 25px;
  text-decoration: none;
  font-family: Arial;
  color: #fff;
  text-align: center;
}

/* Hamburger Menu  */
.navbar-toggler {
  border: 1px solid #fff;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
