<div class="header">
  <div class="main-header">
    <div class="main-row" fxLayout="row" fxLayoutAlign="space-around center">
      <div class="child-1" style="background-color: red">Logo</div>
      <div class="child-2" style="background-color: yellow">Middle</div>
      <div class="child-2" style="background-color: purple">Contact</div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg">
    <p class="hotelName">Karnali Home</p>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <div class="my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Room </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
