<!-- <h1>{{ availableRoom }}</h1> -->
<div class="room-section">
  <div class="wrapper">
    <div class="main-section" fxLayout="row" fxLayout.lt-lg="column">
      <div class="first-section" fxFlex="70">
        <div
          class="card left-card"
          *ngFor="let availableRoomCategory of availableRoomCategories"
        >
          <div class="card-body left-card-body">
            <div
              fxLayout="row wrap"
              fxLayout.lt-sm="column"
              fxLayoutAlign="space-between center"
              class="room"
            >
              <div
                class="room-img"
                fxFlex="20"
                fxFlex.lt-lg="20"
                fxFlex.lt-md="100"
              >
                <img src="{{ availableRoomCategory.image }}" alt="" />
              </div>
              <div
                class="room-detail"
                fxFlex="20"
                fxFlex.lt-lg="25"
                fxFlex.lt-md="100"
              >
                <!-- <ul class="list-group" *ngFor="let service of services">
                  <li class="list-group-item">{{ service.serviceName }}</li>
                </ul> -->
                <ul class="list-group">
                  <li class="list-group-item">
                    {{ availableRoomCategory.category }}
                  </li>
                  <li class="list-group-item">
                    {{ availableRoomCategory.type }}
                  </li>
                  <li
                    class="list-group-item"
                    *ngIf="availableRoomCategory.showCount"
                  >
                    {{ availableRoomCategory.totalNumber }} Available
                  </li>
                </ul>
              </div>
              <div
                class="room-description"
                fxFlex="40"
                fxFlex.lt-lg="55"
                fxFlex.lt-md="100"
              >
                <h5>Description</h5>
                <p class="desc">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
              <div
                class="room-book"
                fxFlex="20"
                fxFlex.lt-lg="100"
                fxFlex.lt-md="100"
              >
                <div class="book-room">
                  <div class="price-info">
                    <h5 class="price">
                      Rs {{ availableRoomCategory.price | number }}
                    </h5>
                  </div>
                  <div class="book-btn">
                    <button
                      type="button"
                      class="btn btn-dark book"
                      (click)="bookRoom(availableRoomCategory)"
                    >
                      <a class="book-link">BOOK</a>
                      <!-- href="https://forms.gle/ytLGfs97xGDRb2jw6" -->
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="side-section" fxFlex="30">
        <div class="card right-card" *ngIf="roomService.roomComponent">
          <div class="card-body right-card-body">
            <!--Google map-->
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.9760193427746!2d85.3024921150156!3d27.71802668278747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19277eef39ad%3A0x98bd86150680c4b3!2sKarnali%20Home%20Pvt.%20Ltd.!5e0!3m2!1sen!2snp!4v1610971479697!5m2!1sen!2snp"
              width="100%"
              height="300"
              frameborder="0"
              style="border: 0"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
          <div class="card-footer">
            <h5>Explore the area</h5>
            <table class="table table-borderless">
              <tbody>
                <tr *ngFor="let location of nearLocation">
                  <td>
                    <i
                      class="location-icon"
                      nz-icon
                      nzType="{{ location.icon }}"
                      nzTheme="fill"
                    ></i>
                  </td>
                  <td>{{ location.location }}</td>
                  <td>{{ location.distance }}</td>
                </tr>
              </tbody>
            </table>

            <!-- <li class="list-group-item">Kathmandu (KTM-Tribhuvan Intl.)</li> -->
          </div>
        </div>
        <!--Google Maps-->

        <div
          class="card right-card table-card"
          *ngIf="roomService.bookComponent"
        >
          <div class="card">
            <div class="card-body">
              <h5>Please fill up the form</h5>
              <form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)">
                <div class="customer-detail">
                  <div class="form-row" ngModelGroup="customer">
                    <div class="form-group col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="First Name"
                        name="first_name"
                        [(ngModel)]="customer.first_name"
                        required
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Middle Name"
                        name="last_name"
                        [(ngModel)]="customer.middle_name"
                      />
                    </div>
                  </div>
                  <div class="form-row" ngModelGroup="customer">
                    <div class="form-group col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Last Name"
                        name="last_name"
                        [(ngModel)]="customer.last_name"
                        required
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Address"
                        name="address"
                        [(ngModel)]="customer.address"
                        required
                      />
                    </div>
                  </div>
                  <div class="form-row" ngModelGroup="customer">
                    <div class="form-group col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Country"
                        name="country"
                        [(ngModel)]="customer.country"
                        required
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Phone"
                        name="phone"
                        [(ngModel)]="customer.phone"
                      />
                    </div>
                  </div>
                  <div class="form-group" ngModelGroup="customer">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      name="email"
                      [(ngModel)]="customer.email"
                      required
                    />
                  </div>
                  <div class="form-row" ngModelGroup="bookingDates">
                    <div class="form-group col-md-6">
                      <nz-date-picker
                        class="date-picker"
                        [(ngModel)]="booking.check_in_date"
                        name="checkInDate"
                        [nzPlaceHolder]="arrival"
                        required
                      ></nz-date-picker>
                      <!-- <input
                        type="date"
                        class="date-picker"
                        [(ngModel)]="booking.check_in_date"
                        name="checkInDate"
                        [placeholder]="arrival"
                        required
                      /> -->
                    </div>
                    <div class="form-group col-md-6">
                      <nz-date-picker
                        class="date-picker"
                        [(ngModel)]="booking.check_out_date"
                        name="checkOutDate"
                        [nzPlaceHolder]="departure"
                        required
                      ></nz-date-picker>
                    </div>
                  </div>
                </div>

                <!-- Table for room category -->
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Select</th>
                      <th scope="col">Category</th>
                      <th scope="col">Number of</th>
                    </tr>
                  </thead>
                  <tbody
                    ngModelGroup="booking"
                    *ngFor="
                      let availableRoomCategory of availableRoomCategories
                    "
                  >
                    <tr
                      ngModelGroup="{{
                        availableRoomCategory.room_category_id
                      }}"
                    >
                      <td>
                        <input
                          class="form-check-input"
                          type="checkbox"
                          name="checked"
                          [checked]="
                            availableRoomCategory.room_category_id ==
                            selectedRoomCategory.room_category_id
                              ? true
                              : false
                          "
                          (change)="
                            onChecked(
                              $event,
                              availableRoomCategory.room_category_id
                            )
                          "
                        />
                      </td>
                      <td>
                        {{ availableRoomCategory.category }}
                      </td>
                      <td id="{{ availableRoomCategory.category }}">
                        <div class="row rooms">
                          <div class="col-6">
                            <label for="no_of_room">Rooms</label>
                          </div>
                          <div class="col-6">
                            <input
                              id="{{
                                'roomNum' +
                                  availableRoomCategory.room_category_id
                              }}"
                              (ngModel)="
                                (booking.room_category[
                                  availableRoomCategory.room_category_id
                                ].number_of_rooms)
                              "
                              class="form-control"
                              type="number"
                              name="number_of_rooms"
                            />
                          </div>
                        </div>

                        <div class="row rooms">
                          <div class="col-6">
                            <label for="no_of_room">Adults</label>
                          </div>
                          <div class="col-6">
                            <input
                              (ngModel)="
                                (booking.room_category[
                                  availableRoomCategory.room_category_id
                                ].number_of_adults)
                              "
                              class="form-control"
                              type="number"
                              name="number_of_adults"
                              id="{{
                                'adultNum' +
                                  availableRoomCategory.room_category_id
                              }}"
                            />
                          </div>
                        </div>
                        <div class="row rooms">
                          <div class="col-6">
                            <label for="no_of_room">Children</label>
                          </div>
                          <div class="col-6">
                            <input
                              (ngModel)="
                                (booking.room_category[
                                  availableRoomCategory.room_category_id
                                ].number_of_children)
                              "
                              class="form-control"
                              type="number"
                              name="number_of_children"
                              id="{{
                                'childNum' +
                                  availableRoomCategory.room_category_id
                              }}"
                              [required]="
                                checkedRoom[
                                  availableRoomCategory.room_category_id
                                ]
                              "
                            />
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button
                  type="submit"
                  [disabled]="bookForm.invalid"
                  class="btn btn-primary"
                >
                  Sign in
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
