* {
  margin: 0%;
  padding: 0%;
}

.logo {
  vertical-align: initial;
}

video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  bottom: 0;
  right: 0;
}

.navbar {
  padding: 30px 50px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-nav a {
  padding: 0 50px;
  font-size: 20px;
  color: #fff;
  font-family: Arial;
  text-align: center;
}

.navbar-brand {
  padding-left: 10%;
  font-size: 25px;
  text-decoration: none;
  font-family: Arial;
  color: #fff;
  text-align: center;
}

/* Hamburger Menu  */
.navbar-toggler {
  border: 1px solid #fff;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.video-container {
  z-index: -100;
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
