<!-- <video autoplay muted loop>
    <source src="../../../assets/videos/b.mp4" type="video/mp4">
</video> -->
<div class="overlay">
</div>
<div class="container-fluid">
    <div class="top-section">
        <div class="logo">
            <a href="#" >
                <img class="logo" src="../../../assets/images/logo.png" alt="Logo" height="57px" width="57px"/>
            </a>
        </div>
        <button type="button" class="btn btn-dark">BOOK</button>
    </div>

    <div class="main-content">
        <div class="hotel-info">
            <div class="title">
                <h1> Karnali Home</h1>
                <h3>Restaurant and Bar</h3>
                <br>
                <h4>अतिथि देवो भव: </h4>
                <img class="flag" src="../../../assets/images/flag.gif" alt="flag" height="35px" width="35px">
            </div>
        </div>
        <div class="room-search">
            <form action="">
                <div class="row">
                    <div class="col-lg-4 col-m-12 checkIn"> 
                        
                    </div>
                    <div class="col-lg-4 col-m-12 checkOut">
                        <label class="sr-only" for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                    </div>
                    <div class="col-lg-4 col-m-12 searchRoom">
                        <label class="sr-only" for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
