.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  bottom: 0;
  right: 0;
}

.logo img {
  position: relative;
  float: left;
  margin-top: 40px;
  margin-left: 17%;
}

.container-fluid {
  padding: 0;
}

.book {
  border-radius: 0;
  position: absolute;
  right: 0;
  margin: 40px 0;
  height: 57px;
  width: 220px;
  background-color: #ffb703;
  color: #fff;
  border-color: #ffb703;
  font-size: 20px;
  font-weight: 540;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.main-content {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  margin: 0;
}

.hotel-info {
  margin: 20px 0;
}

/* Title  */
.title h1 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
}

.title h3 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}
.title h4 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.flag {
  padding-top: 10px;
}

.room-search {
  margin: 100px 260px 0px 260px;
  padding: 30px;
  border: 3px solid white;
}

/* Date picker */
::ng-deep .ant-input {
  height: 45px;
  border-radius: 0px;
  font-size: 16px;
  color: green;
}
::ng-deep .ant-calendar-picker {
  width: 100%;
}

::ng-deep .ant-picker-input input::placeholder {
  color: green;
}
::ng-deep .anticon {
  color: green;
}

/* Search Icon */
::ng-deep .searchIcon {
  color: #fff;
  padding-right: 20px;
  font-size: 20px;
}

.search {
  border-radius: 0;
  margin: 5px 0;
  height: 45px;
  width: 100%;
  background-color: #ffb703;
  color: #fff;
  border-color: #ffb703;
  font-size: 18px;
  font-weight: 540;
  float: right;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.checkIn,
.checkOut {
  margin: 5px 0;
}

/* Responsive Media */
@media screen and (min-width: 320px) {
  .title h1 {
    font-size: calc(35px + 6 * ((100vw - 320px) / 680));
  }
  .title h3 {
    font-size: calc(25px + 6 * ((100vw - 320px) / 680));
  }
  .title h4 {
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .title h1 {
    font-size: 55px;
  }
  .title h3 {
    font-size: 35px;
  }
  .title h4 {
    font-size: 30px;
  }
}

@media screen and (max-width: 520px) {
  .book {
    margin: 0;
    margin-top: 26px;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .logo img {
    position: absolute;
    top: 5%;
    left: 45%;
    margin-top: 0;
    margin-left: 0;
  }
  .room-search {
    margin: 100px 30px 0px 30px;

    padding: 30px;
  }
  .search {
    font-size: 16px;
  }
  ::ng-deep .ant-input {
    font-size: 14px;
  }
}

@media screen and (max-width: 1300px) {
  .room-search {
    margin: 100px 110px 0px 110px;
    padding: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .room-search {
    margin: 100px 80px 0px 80px;
    padding: 30px;
  }
  .search {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .room-search {
    margin: 100px 50px 0px 50px;
    padding: 30px;
  }
  .search {
    width: 100%;
  }
}
